
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css"/>
</head>

<body>
  <div class="tabbable tabbable-tabdrop">
    <ul class="nav nav-pills nav-font">
      <li class="active">
        <a href="#tab11" data-toggle="tab">SUMMARY</a>
      </li>
      <li>
        <a href="#tab12" data-toggle="tab">UNIT TEST</a>
      </li>
      <li>
        <a href="#tab13" data-toggle="tab">FUNCTIONAL & UI</a>
      </li>
      <li>
        <a href="#tab14" data-toggle="tab">PERFORMANCE TEST</a>
      </li>
    </ul>

  </div>
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper-full body-font">
    <div class="page-content-full">

      <div class="page-content-one"><br><br>
        <p1 id="margin-40"> FUNCTIONAL SUMMARY</p1>
        <div class="easy-pie-chart">
          <div class="number transactions" data-percent="55">
            <span>+55</span></div>
          </div>

          <p class="small">FEATURES <br>
            <span>25</span>
          </p>
          <p class="small">TESTS <br>
            <span>267</span>
          </p>
          <p class="small">FAILURES <br>
            <span id="red">31</span>
          </p>
        </div>

        <div class="page-content-two"><br><br>
          <p2 id="margin-40"> UNIT TEST SUMMARY
          </p2> <br> <br> <br> <br>
          <p class="small" id="margin-40" style="text-align: left"> <span1> TESTS </span1> <br>
            <span>2,317</span> 
          </p>
        </div>

        <div class="page-content-three"> <br> <br>
          <p3 id="margin-40"> UI SUMMARY</p3>
          <p class="ui-test-thin"> Screen Resolution 
          <img src="assets/firefox.svg" alt="Smiley face" height="25" width="25" id="margin-60">
          <img src="assets/chrome.svg" alt="Smiley face" height="25" width="25" id="margin-60">
          <img src="assets/ie.svg" alt="Smiley face" height="25" width="25" id="margin-60"></p>

          <hr>

          <p class="close-font ui-test-regular"> 460 * 300
          <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14" style="margin-left: 115px;">
          <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14" id="margin-70">
          <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14" id="margin-70"><p>

           <p class="close-font ui-test-regular"> 800 * 600
           <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14" style="margin-left: 115px;">
           <img src="assets/cross icon.svg" alt="Smiley face" height="14" width="14" id="margin-70">
           <img src="assets/cross icon.svg" alt="Smiley face" height="14" width="14" id="margin-70"><p>

           <p class="close-font ui-test-regular"> 1800 * 760
           <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14" style="margin-left: 105px;">
           <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14" id="margin-70">
           <img src="assets/cross icon.svg" alt="Smiley face" height="14" width="14" id="margin-70"></p>

           <p class="close-font ui-test-regular"> 1920 * 1080
           <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14" style="margin-left: 97px;">
           <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14" id="margin-70">
           <img src="assets/cross icon.svg" alt="Smiley face" height="14" width="14" id="margin-70"></p>
         </div>

         <div class="page-content-four"><br><br>
          <p4 id="margin-40"> PERFORMANCE SUMMARY</p4>
          <p class="ui-test-thin"> Response Time                        <span style="font-size: 12px; font-family: 'AileronRegular'; color: #8cc63f"> AVERAGE </span>                    <span style="font-size: 12px; font-family: 'AileronRegular';"> MAXIMUM </span></p>
          <hr>
          <div class="ui-test-regular"> 1.LOGIN CALL                            <span class="performance-response-green"> 34<span class="performance">ms</span> </span>                   <span class="performance-response-orange"> 52<span style="font-size: 15px;">ms</span></span><span class="arrow-up" style="float: right; margin-right: 218px;
    margin-top: 16px;"></span></div >
          <p class="ui-test-regular"> 1.HOMEPAGE                            <span class="performance-response-green"> 26<span class="performance">ms</span> </span>                    <span class="performance-response-orange"> 68<span style="font-size: 15px;">ms</span></span></p>
          <p class="ui-test-regular"> 1.SIGNUP CALL                        <span class="performance-response-green"> 26<span class="performance">ms</span> </span>                    <span class="performance-response-orange"> 31<span style="font-size: 15px;">ms</span></span></p>

          <span style="font-size: 15px; font-family: 'AileronRegular'; margin-left: 200px;">CAPACITY</span>
          <p class="ui-test-thin">            Number of Users              Average Response Time </p>
          <hr>
          <p class="ui-test-regular close-font-perf"><span class="performance-response-orange" style="font-size: 17px;padding-left:85px;">10</span><span class="performance-response-green" style="padding-left: 150px;"> 26<span class="performance">ms</span> </span></p>
          <p class="ui-test-regular close-font-perf"><span class="performance-response-orange" style="font-size: 17px;padding-left:75px;">1,000</span><span class="performance-response-green" style="padding-left: 135px;"> 30<span class="performance">ms</span> </span></p>
          <p class="ui-test-regular close-font-perf"><span class="performance-response-orange" style="font-size: 17px;padding-left:70px;">10,000</span><span class="performance-response-green" style="padding-left: 130px;"> 46<span class="performance">ms</span> </span></p>
          <p class="ui-test-regular close-font-perf"><span class="performance-response-orange" style="font-size: 17px;padding-left:65px;">1,00,000</span><span class="performance-response-green" style="padding-left: 120px;"> 55<span class="performance">ms</span> </span></p>
        </div>

      </div>
    </div>
    <!-- END CONTENT -->
  </body>
  </html>