
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css"/>
</head>

<body>
  <div class="tabbable tabbable-tabdrop">
    <ul class="nav nav-pills nav-font">
      <li class="active">
        <a href="#tab11" data-toggle="tab">SUMMARY</a>
      </li>
      <li>
        <a href="#tab12" data-toggle="tab">UNIT TEST</a>
      </li>
      <li>
        <a href="#tab13" data-toggle="tab">FUNCTIONAL & UI</a>
      </li>
      <li>
        <a href="#tab14" data-toggle="tab">PERFORMANCE TEST</a>
      </li>
    </ul>

  </div>
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper-full body-font">
    <div class="page-content-full">

      <div class="page-content-one"><br><br>
        <p1 style="margin-left: 40px;"> FUNCTIONAL SUMMARY</p1>
        <br><br><br><br><br><br><br><br><br><br>
        <p class="small">FEATURES <br>
          <span style="font-size: 50px;">25</span>
        </p>
        <p class="small">TESTS <br>
          <span style="font-size: 50px;">267</span>
        </p>
        <p class="small">FAILURES <br>
          <span style="font-size: 50px; color: #fe5755">31</span>
        </p>
      </div>

      <div class="page-content-two"><br><br>
        <p2 style="margin-left: 40px;"> UNIT TEST SUMMARY
        </p2> <br> <br> <br> <br>
        <p class="small" style="margin-left: 40px; text-align: left"> <span1> TESTS </span1> <br>
          <span style="font-size: 50px;">2,317</span> 
        </p>
      </div>

      <div class="page-content-three"> <br> <br>
      <p3 style="margin-left: 40px;"> UI SUMMARY</p3>
      <p style="font-family: 'AileronThin'; font-size: 14px; letter-spacing: 1px; margin-left: 35px; white-space: pre;"> Screen Resolution                       <img src="assets/firefox.svg" alt="Smiley face" height="25" width="25">                <img src="assets/chrome.svg" alt="Smiley face" height="25" width="25">                <img src="assets/ie.svg" alt="Smiley face" height="25" width="25"></p>
      <hr>
      <p class="close-font" style="font-family: 'AileronRegular'; font-size: 14px; letter-spacing: 1px; margin-left: 35px; white-space: pre;"> 460 * 300                                  <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14">                  <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14">                 <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14"></p>
      <p class="close-font" style="font-family: 'AileronRegular'; font-size: 14px; letter-spacing: 1px; margin-left: 35px; white-space: pre;"> 800 * 600                                  <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14">                  <img src="assets/cross icon.svg" alt="Smiley face" height="14" width="14">                 <img src="assets/cross icon.svg" alt="Smiley face" height="14" width="14"></p>
      <p class="close-font" style="font-family: 'AileronRegular'; font-size: 14px; letter-spacing: 1px; margin-left: 35px; white-space: pre;"> 1800 * 760                                <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14">                  <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14">                 <img src="assets/cross icon.svg" alt="Smiley face" height="14" width="14"></p>
      <p class="close-font" style="font-family: 'AileronRegular'; font-size: 14px; letter-spacing: 1px; margin-left: 35px; white-space: pre;"> 1920 * 1080                              <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14">                  <img src="assets/tick mark.svg" alt="Smiley face" height="14" width="14">                 <img src="assets/cross icon.svg" alt="Smiley face" height="14" width="14"></p>
      </div>

      <div class="page-content-four"><br><br>
        <p4 style="margin-left: 40px;"> PERFORMANCE SUMMARY</p4>
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</body>
</html>