<center>
  <hi>Performance Results</h1>
<br/>
<br/>
<br/>
  <table>
    <tbody>
      <tr>
        <th>Service-Quality</th>
        <th>Average-Response-Time</th>
        <th>Maximum-Response-Time</th>
        <th>Run-Time</th>
      </tr>
      <tr>
        <td id="servicequality"></td>
        <td id="averageresponsetime"></td>
        <td id="maximumresponsetime"></td>
        <td id="runtime"></td>
      </tr>

    </tbody>
  </table>
</center>
<style>
table, th, td {
   border: 1px solid;
}
td{
  min-height: 10px;
}
</style>
<script type="text/javascript"
  src="http://localhost:9292/faye.js">
</script>